body
    {
        background:repeating-linear-gradient(
            -55deg,
            black,
            black 1px,
            #222 1px,
            #222 3px
        );
        background-attachment: fixed;
        font-family: 'Roboto'; 
    }
ul
    {
        font-size: 30px;
        text-align: center;  
    }
a
    {
        list-style-type: none;
        text-decoration: none;
        padding:10px;
        background-color:white;
        text-shadow: 1px 1px lightgray;
        border: solid #ED217C 3px;
        border-radius: 30px;
        box-shadow: darkmagenta 3px 3px;
        color:#F46036;
    }
li
    {
        display: inline;   
    }
h1
    {
        color:#CCFF66;
        text-shadow: 1px 1px #0072BB;
        border: solid #ED217C 3px;
        border-radius: 8px;
        box-shadow: darkmagenta 3px 3px;     
    }
    